@model IEnumerable<MusicR8r.Areas.Admin.Models.GenreViewModel>
@using Kendo.Mvc.UI;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        a {
            color: white;
        }

            a:hover {
                color: white;
            }

        button > a:hover {
            text-decoration: none;
        }

        button > a {
            font-size: x-large
        }
    </style>
</head>
<body>
    <button type="button" class="btn btn-success">@Html.ActionLink("Add Genre", "Create")</button>

</body>
</html>


@(Html.Kendo().Grid(Model)
                .Name("Grid")
                .Columns(columns =>
                {
                columns.Bound(p => p.Name).Title("Genre name").Width("60%");
                columns.Bound(p => p.SongsCount).Title("Songs").Width("20%");
                columns.Template(@<text>
        @Html.ActionLink("Delete", "Delete", "Genres", new { id = @item.Id }, new { @class = "k-button" })
                </text>)
            .ClientTemplate(@Html.ActionLink("Delete", "Delete", "Genres", new { ID = "#=Id#" }, new { @class = "k-button" }).ToHtmlString()).Width("20%");
                })
                .Pageable()
                .Sortable()
                //.HtmlAttributes(new { style = "height:70%;" })
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(20)
                    .Read(read => read.Action("ListGenres", "Genres"))
                 )
)

